.font-white{
    color: white;
}
.font-black{
    color: black;
}
.font-1rem{
    font-size: 1rem;
}
.font-1_5rem{
    font-size: 1.5rem;
}
.font-2rem{
    font-size: 2rem;
}
.font-2_5rem{
    font-size: 2.5rem;
}
.font-3rem{
    font-size: 3rem;
}
.font-4rem{
    font-size: 4rem;
}
.font-5rem{
    font-size: 5rem;
}
.font-micro{
    font-family: 微软雅黑;
}
