.font-white{
    color: white;
}
.font-black{
    color: black;
}
.font-1rem{
    font-size: 1rem;
}
.font-2rem{
    font-size: 2rem;
}
.font-3rem{
    font-size: 3rem;
}
.font-4rem{
    font-size: 4rem;
}
.font-5rem{
    font-size: 5rem;
}