.App{
    flex:1;
}
.header{
    display: flex;
    width: 100vw;
    height:100vh;
    /*background: url("image/bg_personal.png") no-repeat center;*/
    background-color: red;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.headerContain{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}
.center{
    height:100vh;
    background-color: blue;
}